// подключение шрифтов только woff2
@mixin font($fname, $fweight, $fstyle, $furl) {
  @font-face {
    font-family: $fname;
    font-display: swap;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('roboto-my', 300, normal, '../fonts/Roboto-Light.woff2');
@include font('roboto-my', 400, normal, '../fonts/Roboto-Regular.woff2');
@include font('roboto-my', 400, italic, '../fonts/Roboto-Italic.woff2');
@include font('roboto-my', 700, normal, '../fonts/Roboto-Bold.woff2');

// Font fallbacks
// npx fontpie ./src/fonts/Roboto-Regular.woff2 -n roboto-my
// npx fontpie ./src/fonts/Roboto-Bold.woff2 -w 700 -n roboto-my
// npx fontpie ./src/fonts/Roboto-Italic.woff2 -s italic -n roboto-my
// https://github.com/pixel-point/fontpie

@font-face {
  font-family: 'roboto-my Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 94.03%;
  descent-override: 24.74%;
  line-gap-override: 0.00%;
  size-adjust: 98.66%;
}

@font-face {
  font-family: 'roboto-my Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 92.49%;
  descent-override: 24.34%;
  line-gap-override: 0.00%;
  size-adjust: 100.30%;
}

@font-face {
  font-family: 'roboto-my Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 98.53%;
  descent-override: 25.93%;
  line-gap-override: 0.00%;
  size-adjust: 94.16%;
}

@font-face {
  font-family: 'roboto-my Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 94.32%;
  descent-override: 24.82%;
  line-gap-override: 0.00%;
  size-adjust: 98.37%;
}

// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

// подключение шрифтов разных форматов
//@import '../_helpers/font-face';
//@include font-face("Roboto-mw", 400, normal, "../fonts/RobotoRegular/RobotoRegular", woff2 woff);
//@include font-face("Roboto-mw", 700, normal, "../fonts/RobotoBold/RobotoBold", woff2 woff);
//@include font-face("Roboto-mw", 400, italic, "../fonts/RobotoItalic/RobotoItalic", woff woff2 ttf); // italic
//@include font-face("Roboto-mw", 400, normal, "../fonts/RobotoRegular/RobotoRegular", eot woff2 woff ttf svg); // eot woff2 woff ttf svg